#modaldefault {
  border: 5px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: all 0.3s ease; /* Transición para todas las propiedades durante 0.3 segundos */
}

#botonmodal2 {
  background-color: lightcoral;
  border: 5px solid black;
  color: black;
  font-weight: bold;
  font-size: x-large;
}

#certificado {
  background-color: white;
  border-radius: 2px;
  border:3px solid transparent;
  transition: all 0.3s ease-in-out;
}

#certificado:hover {
  background-color: lightgoldenrodyellow;
  border: 3px solid black;
  padding-right: 5%;
}